<ul class="list-group" >
    <li class="list-group-item"><h5>Name:</h5>{{data.b1}}</li>
  
    
    <li class="list-group-item list-group-item-primary"><h5>Isbn:</h5>{{data.b2}} </li>
    <li class="list-group-item list-group-item-secondary"> <h5> Authors:</h5>{{data.b3}}</li>
    <li class="list-group-item list-group-item-success"><h5>MediaType:</h5>{{data.b4}}</li>
    <li class="list-group-item list-group-item-danger"><h5>Country:</h5>{{data.b5}}</li>
    <li class="list-group-item list-group-item-warning"><h5>Publishers:</h5>{{data.b6}}</li>
    <li class="list-group-item list-group-item-info"><h5>Released:</h5>{{data.b7}}</li>
    <li class="list-group-item list-group-item-light"><h5>numberOfPages:</h5>{{data.b8}}</li>
  </ul>


 