<ul class="list-group" >
    <li class="list-group-item"><h5>Aliases: </h5>{{data.c1}}</li>
  
    
    <li class="list-group-item list-group-item-primary"><h5>Allegiance:</h5>{{data.c2}} </li>
    <li class="list-group-item list-group-item-secondary"><h5>Books:</h5>{{data.c3}}</li>
    <li class="list-group-item list-group-item-success"><h5>Born:</h5>{{data.c4}}</li>
    <li class="list-group-item list-group-item-danger"><h5>Culture:</h5>{{data.c5}}</li>
    <li class="list-group-item list-group-item-warning"><h5>Died:</h5>{{data.c6}}</li>
    <li class="list-group-item list-group-item-info"><h5>Father:</h5>{{data.c7}}</li>
    <li class="list-group-item list-group-item-light"><h5>Gender:</h5>{{data.c8}}</li>
    <li class="list-group-item list-group-item-dark"><h5>Mother:</h5>{{data.c9}}</li>
    <li class="list-group-item list-group-item-info"><h5>Name:</h5>{{data.c10}}</li>
    <li class="list-group-item list-group-item-light"><h5>Titles:</h5>{{data.c11}}</li>
    <li class="list-group-item list-group-item-dark"><h5>Spouse:</h5>{{data.c12}}</li>
  </ul>

