


<div class="container">
  <div class="row">
    <div class="col-sm-12 col-auto">

        <ul class="list-group" >
            <li class="list-group-item"><h5> Name:</h5> {{data.h1}}</li>
            <li class="list-group-item list-group-item-primary"><h5>CoatOfArms:</h5>{{data.h2}} </li>
            <li class="list-group-item list-group-item-secondary"><h5> Seats:</h5>{{data.h3}}</li>
            <li class="list-group-item list-group-item-success"> <h5> Region:</h5>{{data.h4}}</li>
            <li class="list-group-item list-group-item-danger"> <h5> CurrentLoad:</h5>{{data.h5}}</li>
            <li class="list-group-item list-group-item-warning"> <h5>DiedOut:</h5> {{data.h6}}</li>
            <li class="list-group-item list-group-item-info"> <h5> Founded:</h5>{{data.h7}}</li>
            <li class="list-group-item list-group-item-light"> <h5>Heir: </h5>{{data.h8}}</li>
          
            <li class="list-group-item list-group-item-info"> <h5> Title:</h5>{{data.h10}}</li>
            <li class="list-group-item list-group-item-light"> <h5> Words:</h5>{{data.h11}}</li>
            <li class="list-group-item list-group-item-dark"> <h5>CadetBranches: </h5>{{data.h12}}</li>
          </ul>

    </div>

  </div>

</div>














